---
import "bootstrap/dist/css/bootstrap.min.css";
import "../index.scss";

import RowCol from "@components/RowCol.astro";
import TrendCard from "@components/TrendCard.astro";
import TopTrendBadge from "@components/TopTrendBadge.astro";
import ExtLink from "@components/ExtLink.astro";
import Layout from "@layouts/Layout.astro";

import { Container, Row, Col, Button, Nav, Navbar, Card } from "react-bootstrap";
import { Github } from "react-bootstrap-icons";
---

<Layout>
    <Container className="p-4">
        <Row as="header" id="top" className="py-2 border-start border-end border-cool">
            <Col>
                <h1 class="d-flex align-items-center gradient-text">Tech Trends 2022</h1>
                <small class="ps-1 text-muted">By Benjamin Crocker</small>
            </Col>
            <Col>
                <div class="d-flex align-items-center h-100 float-end">
                    <Button
                        size="lg"
                        className="d-flex align-items-center rounded-pill social-button"
                        variant="dark"
                        as="a"
                        href="https://github.com/Bwc9876/TechTrends2022"
                        rel="noopener"
                        target="_blank"
                        aria-label="Open On GitHub"
                        ><Github />
                    </Button>
                </div>
            </Col>
        </Row>
        <Row as="main" className="mt-5">
            <Col>
                <RowCol as="section" className="border-start border-cool">
                    <Card className="border-0">
                        <Card.Body>
                            <Card.Title as="h2" className="gradient-text">What Is This?</Card.Title>
                            <Card.Text as="p">
                                This site outlines the current tech trends of 2022 and provides
                                insight and resources into how they're currently doing, how they are
                                predicted to do, and examples of them today.
                            </Card.Text>
                            <Card.Text as="p">
                                Trends marked with {(<TopTrendBadge />)} represent a trend that is predicted
                                to be successful or I have a personal interest in.
                            </Card.Text>
                            <Card.Text as="p" className="mb-1">
                                Either scroll down or use the list on the right to get started
                            </Card.Text>
                        </Card.Body>
                    </Card>
                </RowCol>
                <TrendCard
                    name="Edge Computing"
                    id="edge-computing"
                    imgSrc="/TechTrends2022/images/edge_computing.webp"
                    imgWidth="800"
                    imgHeight="488"
                    topTrend={true}
                >
                    <p slot="overview">
                        Edge computing decentralizes an application to make websites faster by
                        having multiple computers around the world (the network of these being
                        called the "edge") running the same application, that way visitors to a site
                        can contact the nearest server instead of one from around the world.
                    </p>
                    <ul slot="pros">
                        <li>Faster Load Times</li>
                        <li>Prevents Cold-Starts</li>
                    </ul>
                    <ul slot="cons">
                        <li>Costly</li>
                    </ul>
                    <p slot="society">
                        I think this will result in a shift from more centralized servers to a more
                        decentralized structure. In terms of the effect on consumers, they might not
                        even notice ;-;
                    </p>
                    <ul slot="more-info">
                        <li>
                            <ExtLink href="https://www.ibm.com/cloud/what-is-edge-computing"
                                >IBM's article on edge computing</ExtLink
                            >, which explains how edge computing works
                        </li>
                        <li>
                            <ExtLink href="https://www.youtube.com/watch?v=yOP5-3_WFus"
                                >This video by Fireship</ExtLink
                            >, which compares edge computing to cloud functions
                        </li>
                    </ul>
                </TrendCard>
                <TrendCard
                    imgSrc="/TechTrends2022/images/ai.webp"
                    imgWidth="256"
                    imgHeight="256"
                    topTrend={true}
                    name="Artificial Intelligence"
                    id="ai"
                >
                    <p slot="overview">
                        Artificial Intelligence refers to creating a program that can learn and
                        adapt to a given set of data or stimuli. It has many uses today, such as <ExtLink
                            href="https://openai.com/blog/dall-e/">DALL-E</ExtLink
                        > making the rounds on social media for its ability to generate images from a
                        text description. The image for this trend was actually generated by DALL-E Mini!
                        And with <ExtLink href="https://github.com/features/copilot/"
                            >GitHub Copilot</ExtLink
                        > going public, it gives developers auto-complete for source code. The uses for
                        this field keep increasing, which is why I think it's such a promising trend.
                    </p>
                    <ul slot="pros">
                        <li>Endless possibilities for automation</li>
                        <li>Ability to solve problems that we can't</li>
                    </ul>
                    <ul slot="cons">
                        <li>Creating models takes a lot of time and input data</li>
                        <li>Ethical implications (see below)</li>
                    </ul>
                    <p slot="society">
                        While artificial intelligence is very powerful, it's a moral gray area.
                        First and foremost we have deepfakes, these are fake pieces of media
                        generated by AI, while many people use them for harmless fun, they can be
                        used to impersonate and hurt others. Then there are the issues with how some
                        AI models learn, for example, many developers do not like how GitHub copilot
                        was trained with all public source code on GitHub and StackOverflow, because
                        there is no way to confirm whether it was <em>allowed</em> to use that code.
                    </p>
                    <ul slot="more-info">
                        <li>
                            <ExtLink
                                href="https://www.ibm.com/cloud/learn/what-is-artificial-intelligence"
                                >IBM's Article On Artificial Intelligence</ExtLink
                            >
                        </li>
                        <li>
                            <ExtLink href="https://www.youtube.com/watch?v=alJdw4JDJ4o"
                                >Fireship's video on DALL-E</ExtLink
                            >
                        </li>
                        <li>
                            <ExtLink
                                href="https://fossa.com/blog/analyzing-legal-implications-github-copilot/"
                                >This article by FOSSA</ExtLink
                            > outlining the legal and ethical issues surrounding copilot
                        </li>
                    </ul>
                </TrendCard>
                <TrendCard
                    name="Quantum Computing"
                    id="quantum-computing"
                    imgSrc="/TechTrends2022/images/quantum_computing.webp"
                    imgWidth="275"
                    imgHeight="183"
                >
                    <p slot="overview">
                        Quantum computing utilizes quantum mechanics to solve unique technical
                        problems. It's essentially a very advanced version of guess and check.
                    </p>
                    <ul slot="pros">
                        <li>
                            Solves certain problems that classical computing can't (or would take
                            forever to solve)
                        </li>
                    </ul>
                    <ul slot="cons">
                        <li>Expensive to make and upkeep</li>
                    </ul>
                    <p slot="society">
                        I think people misunderstand what quantum computing is, it's not a "faster
                        way of computing", it's more a tool that can help solve <em>certain</em> problems
                        faster. In the future, we're probably not going to see "quantum computers" sold
                        to consumers, we're more likely to see regular computers sold with some sort
                        of quantum chip that can help solve these issues fast.
                    </p>
                    <ul slot="more-info">
                        <li>
                            <ExtLink href="https://www.ibm.com/topics/quantum-computing"
                                >IBM's article on quantum computing</ExtLink
                            >
                        </li>
                        <li>
                            <ExtLink href="https://www.nasa.gov/ames/quantum-computing/"
                                >NASA's article on quantum computing</ExtLink
                            >
                        </li>
                    </ul>
                </TrendCard>
                <TrendCard
                    name="3D Printing"
                    id="3d-printing"
                    imgSrc="/TechTrends2022/images/3d_printing.webp"
                    imgWidth="474"
                    imgHeight="355"
                >
                    <p slot="overview">
                        3D printing is starting to be used more and more, it's even being used in
                        Florida to create houses. It also has the potential to create organs for
                        those that otherwise may not be able to get them in time.
                    </p>
                    <ul slot="pros">
                        <li>Useful for creating things without manual labor</li>
                        <li>Can create things that require precision</li>
                    </ul>
                    <ul slot="cons">
                        <li>Takes time</li>
                        <li>Ethical implications (see below)</li>
                    </ul>
                    <p slot="society">
                        Even though 3D printing has its uses, it has also been used to create
                        weapons, bypassing current regulations regarding weapons. This has caused a
                        lot of controversies.
                    </p>
                    <ul slot="more-info">
                        <li>
                            <ExtLink href="https://www.autodesk.com/solutions/3d-printing"
                                >AutoDesk's Article on 3D Printing</ExtLink
                            >
                        </li>
                        <li>
                            <ExtLink href="https://en.wikipedia.org/wiki/3D_printing"
                                >The Wikipedia article on 3D printing</ExtLink
                            >
                        </li>
                    </ul>
                </TrendCard>
                <TrendCard
                    name="Cybersecurity"
                    id="cyber-security"
                    imgSrc="/TechTrends2022/images/cybersecurity.webp"
                    imgWidth="474"
                    imgHeight="266"
                >
                    <p slot="overview">
                        This one is a given, cybersecurity will never <em>not</em> be important unless
                        one day we wake up and everyone is super-duper nice and never tries to break
                        into anything ever. Then we could just ask for a username when logging in and
                        since everyone is so nice they'll always enter their own :D.
                    </p>
                    <ul slot="pros">
                        <li>Not being hacked</li>
                    </ul>
                    <ul slot="cons">
                        <li>
                            Every single website I try to go to on managed networks is blocked :(
                        </li>
                    </ul>
                    <p slot="society">
                        Data breaches and ransomware attacks can affect many people and even take
                        down vital systems to our nation's infrastructure, we must keep this in mind
                        when securing our systems.
                    </p>
                    <ul slot="more-info">
                        <li>
                            <ExtLink href="https://www.ibm.com/topics/cybersecurity"
                                >IBM's article on cybersecurity</ExtLink
                            > (What <em>don't</em> they have an article on?)
                        </li>
                        <li>
                            <ExtLink
                                href="https://www.cisco.com/c/en/us/products/security/what-is-cybersecurity.html"
                                >Cisco's article on cybersecurity</ExtLink
                            >
                        </li>
                    </ul>
                </TrendCard>
                <TrendCard
                    name="Virtual Reality"
                    id="virtual-reality"
                    imgSrc="/TechTrends2022/images/vr.webp"
                    imgWidth="474"
                    imgHeight="331"
                >
                    <p slot="overview">
                        Right now VR is still expensive and not developed enough to be in the
                        mainstream. However, recent efforts from <em>certain</em> companies promise to
                        make it more popular.
                    </p>
                    <ul slot="pros">
                        <li>Can be very immersive</li>
                        <li>Can be used for training</li>
                        <li>Can give businesses an environment to hold meetings</li>
                    </ul>
                    <ul slot="cons">
                        <li>Still pretty expensive (for now)</li>
                        <li>Every dystopian novel involving VR ever</li>
                        <li>Meta's VR avatars are lifeless and terrible</li>
                    </ul>
                    <p slot="society">
                        At the risk of sounding cliché, people might get disconnected from reality à
                        la Ready Player One.
                    </p>
                    <ul slot="more-info">
                        <li>
                            <ExtLink href="https://en.wikipedia.org/wiki/Virtual_reality"
                                >The Wikipedia article on Virtual Reality</ExtLink
                            >
                        </li>
                        <li>
                            <ExtLink href="https://www.britannica.com/technology/virtual-reality"
                                >The Britannica article on Virtual Reality</ExtLink
                            >
                        </li>
                    </ul>
                </TrendCard>
                <TrendCard
                    name="Internet Of Things"
                    id="iot"
                    imgSrc="/TechTrends2022/images/iot.webp"
                    imgWidth="474"
                    imgHeight="316"
                >
                    <p slot="overview">
                        Internet of things (IoT) offers the ability to control various aspects of
                        your home or business wirelessly, and automate said devices. Recently, <ExtLink
                            href="https://csa-iot.org/all-solutions/matter/">Matter</ExtLink
                        >, a protocol that aims to provide a universal interface for all IoT devices
                        has been becoming more popular.
                    </p>
                    <ul slot="pros">
                        <li>Provides the ability to control your home from anywhere</li>
                        <li>Allows for automation</li>
                    </ul>
                    <ul slot="cons">
                        <li>Security, these devices are often not secured enough</li>
                        <li>Humans may grow too dependent on technology</li>
                    </ul>
                    <p slot="society">
                        I think overall this will increase our reliance on technology, it's
                        important that we're still able to do things <em>without</em> this tech.
                    </p>
                    <ul slot="more-info">
                        <li>
                            <ExtLink href="https://aws.amazon.com/what-is/iot/"
                                >Amazon's article on IoT</ExtLink
                            >
                        </li>
                        <li>
                            <ExtLink
                                href="https://azure.microsoft.com/en-us/resources/cloud-computing-dictionary/what-is-iot/"
                                >Microsoft's article on IoT</ExtLink
                            >
                        </li>
                        <li>
                            Surprise Surprise: <ExtLink
                                href="https://www.ibm.com/blogs/internet-of-things/what-is-the-iot/"
                                >IBM's article on IoT</ExtLink
                            >
                        </li>
                    </ul>
                </TrendCard>
            </Col>
            <Col sm="1" />
            <Col sm="3" className="pe-0">
                <div class="pe-0 py-2 mb-2 sticky-top">
                    <div class="border-end border-cool mt-5">
                        <small class="ps-1 text-muted fw-bold">Jump To</small>
                        <Navbar className="flex-column align-items-stretch">
                            <Nav className="flex-column accent-text">
                                <Nav.Link href="#top">Top</Nav.Link>
                                <Nav.Link href="#edge-computing">Edge Computing</Nav.Link>
                                <Nav.Link href="#ai">Artificial Intelligence</Nav.Link>
                                <Nav.Link href="#quantum-computing">Quantum Computing</Nav.Link>
                                <Nav.Link href="#3d-printing">3D Printing</Nav.Link>
                                <Nav.Link href="#cyber-security">Cybersecurity</Nav.Link>
                                <Nav.Link href="#virtual-reality">Virtual Reality</Nav.Link>
                                <Nav.Link href="#iot">Internet Of Things</Nav.Link>
                            </Nav>
                        </Navbar>
                    </div>
                </div>
            </Col>
        </Row>
    </Container>
</Layout>
