---
import "bootstrap/dist/css/bootstrap.min.css";
import "../index.scss";

import RowCol from "@components/RowCol.astro";
import TrendCard from "@components/TrendCard.astro";
import ExtLink from "@components/ExtLink.astro";
import Layout from "@layouts/Layout.astro";

import { Container, Row, Col, Button, Nav, Navbar, Card } from "react-bootstrap";
import { Github } from "react-bootstrap-icons";
---

<Layout>
    <Container className="p-4">
        <Row as="header" id="top" className="py-2 border-start border-end border-cool">
            <Col>
                <h1 class="d-flex align-items-center gradient-text">Tech Trends 2022</h1>
                <small class="ps-1 text-muted">By Benjamin Crocker</small>
            </Col>
            <Col>
                <div class="d-flex align-items-center h-100 float-end">
                    <Button
                        size="lg"
                        className="d-flex align-items-center rounded-pill social-button"
                        variant="dark"
                        as="a"
                        href="https://github.com/Bwc9876/TechTrends2022"
                        rel="noopener"
                        target="_blank"
                        aria-label="Open On GitHub"
                        ><Github />
                    </Button>
                </div>
            </Col>
        </Row>
        <Row as="main" className="mt-5">
            <Col>
                <RowCol as="section" className="border-start border-cool">
                    <Card className="border-0">
                        <Card.Body>
                            <Card.Title as="h2" className="gradient-text">What Is This?</Card.Title>
                            <Card.Text as="p">
                                This site outlines the current tech trends of 2022, and provides
                                insight and resources into how they're currently doing, how they are
                                predicted to do, and examples of them today.
                            </Card.Text>
                            <Card.Text as="p" className="mb-1">
                                Either scroll down or use the list on the right to get started
                            </Card.Text>
                        </Card.Body>
                    </Card>
                </RowCol>
                <TrendCard
                    name="Edge Computing"
                    id="edge-computing"
                    imgSrc="/images/edge_computing.webp"
                    imgWidth="400"
                    imgHeight="210"
                >
                    <p slot="overview">
                        Edge computing decentralizes an application to make websites faster by
                        having multiple computers around the world (the network of these being
                        called the "edge") running the same application, that way visitors to a site
                        can contact the nearest server instead of one from all the way around the
                        world.
                    </p>
                    <ul slot="pros">
                        <li>Faster Load Times</li>
                        <li>Prevents Cold-Starts</li>
                    </ul>
                    <ul slot="cons">
                        <li>Costly</li>
                    </ul>
                    <ul slot="more-info">
                        <li>
                            <ExtLink href="https://www.ibm.com/cloud/what-is-edge-computing"
                                >IBM's article on edge computing</ExtLink
                            >, which gives an explanation to how edge computing works
                        </li>
                        <li>
                            <ExtLink href="https://www.youtube.com/watch?v=yOP5-3_WFus"
                                >This video by Fireship</ExtLink
                            >, which compares edge computing to cloud functions
                        </li>
                    </ul>
                </TrendCard>
                <TrendCard name="Artificial Intelligence" id="ai">
                    <p slot="overview">Lorem ipsum dolor sit amet</p>
                </TrendCard>
            </Col>
            <Col sm="1" />
            <Col sm="3" className="pe-0">
                <div class="pe-0 py-2 mb-2 sticky-top">
                    <div class="border-end border-cool mt-5">
                        <small class="ps-1 text-muted fw-bold">Jump To</small>
                        <Navbar className="flex-column align-items-stretch">
                            <Nav className="flex-column">
                                <Nav.Link href="#top">Top</Nav.Link>
                                <Nav.Link href="#edge-computing">Edge Computing</Nav.Link>
                                <Nav.Link href="#quantum-computing">Quantum Computing</Nav.Link>
                                <Nav.Link href="#ai">Artificial Intelligence</Nav.Link>
                                <Nav.Link href="#3d-printing">3D Printing</Nav.Link>
                                <Nav.Link href="#cybersecurity">Cybersecurity</Nav.Link>
                                <Nav.Link href="#genomics">Genomics</Nav.Link>
                                <Nav.Link href="#virtual-reality">Virtual Reality</Nav.Link>
                                <Nav.Link href="#extended-reality">Extended Reality</Nav.Link>
                                <Nav.Link href="#iot">Internet Of Things</Nav.Link>
                                <Nav.Link href="#rpa">Robotics Process Automation</Nav.Link>
                            </Nav>
                        </Navbar>
                    </div>
                </div>
            </Col>
        </Row>
    </Container>
</Layout>
