---
import { Button } from "react-bootstrap";

export interface Props {
    link: string;
    ariaLabel: string;
    className?: string;
}

const { link, ariaLabel, className } = Astro.props;
---

<Button
    size="lg"
    className={`d-flex align-items-center rounded-pill social-button ${className}`}
    variant="dark"
    as="a"
    href={link}
    rel="noopener"
    target="_blank"
    aria-label={ariaLabel}
>
    <slot />
</Button>
