:root {
    --cool-gradient: linear-gradient(
        180deg,
        hsl(202deg 92% 80%) 0%,
        hsl(203deg 87% 74%) 5%,
        hsl(205deg 84% 68%) 9%,
        hsl(206deg 81% 61%) 13%,
        hsl(206deg 80% 54%) 17%,
        hsl(204deg 100% 44%) 21%,
        hsl(208deg 100% 43%) 25%,
        hsl(211deg 100% 41%) 30%,
        hsl(215deg 100% 39%) 36%,
        hsl(220deg 100% 37%) 46%,
        hsl(228deg 93% 35%) 77%
    );
}

.gradient-text {
    background: var(--cool-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
