
$accent: hsl(204deg 100% 44%);
$acc-dark: scale-color($accent, $lightness: -50%);
$acc-light: scale-color($accent, $lightness: 50%);

:root {
    --cool-gradient: linear-gradient(
        180deg,
        $acc-light 0%,
        $accent 25%,
        $acc-dark 70%
    );
}

.gradient-text {
    background: var(--cool-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-cool {
    border-image-source: var(--cool-gradient);
    border-image-slice: 1;
}

.social-button {
    background-color: var(--acc-dark);
}

.social-button:hover {
    background-image: var(--cool-gradient);
}
