:root {
    // $accent: hsl(204deg 100% 44%);
    $accent: red;
    --accent: $accent;
    --acc-dark: sass:color.scale($accent, $lightness: -50%);
    --acc-light: sass:color.scale($accent, $lightness: 50%);
    --cool-gradient: linear-gradient(
        180deg,
        var(--acc-light) 0%,
        var(--accent) 25%,
        var(--acc-dark) 70%
    );
}

.gradient-text {
    background: var(--cool-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-cool {
    border-image-source: var(--cool-gradient);
    border-image-slice: 1;
}

.social-button {
    background-color: var(--acc-dark);
}

.social-button:hover {
    background-image: var(--cool-gradient);
}
